<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--
    PE Client Tools APP Data Diretories.
    There are two main directories defined here:
      1. The Config Directory - (client-tools)
      2. The Puppet Labs Cert directory - this is created as a placeholder
         to allow the user to put the cert in place if required.
         If this node is has puppet-agent, the directory will already
         be in place and this is a noop.
  -->
</Wix>
